<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REMOTEOFFICEAUTHKEY</key>
	<string>db73fa8268ea6a613dc4dcb21068462f</string>
	<key>SERVERNAME</key>
	<string>desktopcentral.manageengine.in</string>
	<key>REMOTEOFFICENAME</key>
	<string>Default Remote Office</string>
	<key>MSIRESTARTMANAGERCONTROL</key>
	<string>Disable</string>
	<key>SERVERPROTOCOL</key>
	<string>https</string>
	<key>UEMSProductCode</key>
	<string>[DCODEE]</string>
	<key>USEJSON</key>
	<string>true</string>
	<key>AGENTPOLLINGINTERVAL</key>
	<string>10</string>
	<key>SERVERSECIPADDRESS</key>
	<string>desktopcentral.manageengine.in</string>
	<key>CUSTOMERNAME</key>
	<string>Rohit Singh</string>
	<key>productcode</key>
	<string>DCODEE</string>
	<key>ENABLEDISTRIBUTIONSERVER</key>
	<string>no</string>
	<key>SERVERPORT</key>
	<string>443</string>
	<key>REMOTEOFFICEID</key>
	<string>5804000000070727</string>
	<key>AGENTVERSION</key>
	<string>10.0.677.M</string>
	<key>SC_VALUE</key>
	<string>0</string>
	<key>PERFORMASSETSCAN</key>
	<string>yes</string>
	<key>SERVERSECUREPORT</key>
	<string>443</string>
	<key>ENABLESILENT</key>
	<string>YES</string>
	<key>ALLUSERS</key>
	<string>1</string>
	<key>SERVERFLATNAME</key>
	<string>desktopcentral.manageengine.in</string>
	<key>MSPNAME</key>
	<string>DC_MSP</string>
	<key>DATA_TRANSFER_RATE</key>
	<string>0</string>
	<key>INSTALLTIME</key>
	<string></string>
	<key>PROXYBYPASS</key>
	<string></string>
	<key>SERVERIPADDRESS</key>
	<string>desktopcentral.manageengine.in</string>
	<key>CUSTOMERID</key>
	<string>5804000000070499</string>
	<key>ENABLE_CAPTCHA</key>
	<string>yes</string>
	<key>ENABLEREMOTEOFFICEMGMT</key>
	<string>yes</string>
	<key>PERFORMPATCHSCAN</key>
	<string>yes</string>
	<key>RoSummaryEnabled</key>
	<string>true</string>
	<key>VALUE2</key>
	<string>db73fa8268ea6a613dc4dcb21068462f</string>
	<key>VALUE1</key>
	<string>cf7923cad9ac43cc23e706092ebf734c1cdf632d36301dd021075f35279f44aeb93e63276f57f13fbb0a3d1ade18c090053628a7914f90d190235bb88be07d4bb741c137aeb0a6c9e1ac8c2f4f362bfeec76b817bbebf165ef9c83745a4d1f8ed524da76bc7610e033e3c080b8ad33dbe3238751b77ab04f31270072539fc9d7851dc2da5f3f6b2050139631243ffd81</string>
	<key>ENABLEPROXY</key>
	<string>no</string>
	<key>DirectDownloadEnabled</key>
	<string>true</string>
	<key>PERFORMPOSTINSTALL</key>
	<string>yes</string>
	<key>DID</key>
	<string>5804000000159173</string>
</dict>
</plist>